body, html{
    background-color: #458188;
    color: white;
}

.nav-principal{
    background-color: #021926;
    padding: 10px;
    display: flex;        /* hace los links en línea */
    gap: 15px;  
}

.nav-principal a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

.nav-principal a:hover {
    background-color: #555;
    border-radius: 4px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 80vh
}

.contacto {
    background-color: #021926;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
}